.footer-list {
  list-style: none;
  padding-right: 40px;
  margin: 0 0 0 0;
}

.footer-list h4 { text-transform: capitalize; }
.footer-list li {
  font-family: 'Gotham';
  font-size: 11px;
  margin: 5px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.footer-list li:hover { font-weight: bold; }

.footer-list li span { vertical-align: middle; }
.footer-list p { font-family: 'Gotham'; font-size: 13px; }
.listColumn li:hover { font-weight: bold; }

.footer-list .category {
  font-family: 'Chronicle';
  font-style: italic;
  font-size: 18px;
  margin-bottom: 14px;
  color: #555759;
}

.footer {
  background-color: #f1f1f2;
  margin-top: 20px;
  padding: 20px 0;
}

.footersocialicon { font-size: 20px; margin-right: 10px; }

.newsletter-signup {
  font-family: 'Gotham' !important;
  font-size: 11px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #fdfdfe !important;
  padding: 4px 8px !important;
  margin-bottom: 5px !important;
}

.newsletter-signup:focus {
  background-color: #fff !important;
}


.listButton {
  font-family: 'Gotham';
  font-size: 11px;
  background-color: #404040;
  padding: 8px 15px 5px 15px;
  min-width: 150px;
  margin: 10px 0 0 0;
  -webkit-transition: background 0s;
}

.listButton:hover {
  background-color: #ffea00;
  color: #404040;
  -webkit-transition: background 0s;
}
