.row { width: 90%; max-width: 1200px; }

.promo {
  text-transform: uppercase;
  font-family: 'Gotham';
  background-color: #ffea00;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.promo:hover { opacity: .7; }
.promo p { font-size: 11px; margin-bottom: 0; color: #404040; }

.top-bar {
  background-color: white;
  height: auto;
}

.logo {
  text-align: center;
}

.top-bar-section ul li  {
  background-color: white;
  color: #404040;
  font-family: 'Gotham';
  font-size: .675em;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
}

.navigation .separator { font-size: 80%; margin: 0 5px; }

.top-nav li, .top-nav p { display: inline-block; }
.shopping-bag li:hover { font-weight: normal !important; opacity: .7; }
.shopping-bag--item-list { height: 250px; overflow: scroll; }
.shopping-bag--item { margin-bottom: 15px !important; }
.shopping-bag--item:last-of-type { margin-bottom: 0; }
.shopping-bag--itemPhoto { width: 80px; display: inline-block; vertical-align: top; }
.shopping-bag--itemInfo { display: inline-block; margin-left: 10px; }
.shopping-bag--itemTitle { font-family: 'Gotham', sans-serif; font-size: 14px; font-weight: bold; margin-top: 0; }
.shopping-bag--itemCost { float: right; }

.top-nav li.selected,
.main-nav li.selected,
.selected-force {
  font-weight: bold;
  margin-top: -1px;
  border-bottom: 2px solid #404040 !important;
}

.top-nav li:hover {
  font-weight: bold;
  margin-top: -1px;
}

.left li { margin-right: 30px; }
.right li { float:none !important; }
.top-nav.left li { margin-right: 0; float:none !important; }


.search {
  background: #e6e6e6 url('../assets/search-icon.png') no-repeat right !important;
  background-size: 18px !important;
  padding: 6px 30px 5px 8px !important;
  height: inherit !important;
  width: 250px;
  border: none;
  font-size: 11px !important;
  top: 0 !important;
  text-transform: uppercase !important;
  vertical-align: top;
}

.search::-webkit-input-placeholder { color: #555759; text-transform: none !important; }
.search::-moz-placeholder { color: #555759; text-transform: none !important; }
.search:-moz-placeholder { color: #555759; text-transform: none !important; }
.search:-ms-placeholder { color: #555759; text-transform: none !important; }
.search:placeholder-shown { color: #555759; text-transform: none !important; }

.search-submit {
  top: 0 !important;
  background: none !important;
  height: 30px !important;
  width: 30px !important;
  font-size: 0 !important;
  margin: 0 0 0 -30px !important;
  padding: 0 0 0 0 !important;
  vertical-align: top;
}

.dropdown {
  z-index: 100;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 20px 30px;
  border: 1px solid #eee;
  margin: -1px 0;
  height: 300px;
  display: none;
}

.dropdown .inline { display: inline-block; }

.dropdownColumn {
  vertical-align: top;
  display: inline-block;
  margin-right: 50px;
}
.dropdownColumn:last-of-type { margin-right: 0; }

.dropdownColumn-special {
  border-left: 1px solid #eee;
  padding-left: 20px;
  font-weight: bold;
}

.dropdown h4 { text-transform: capitalize; }
.dropdown li {
  font-family: 'Gotham';
  font-size: 11px;
  margin: 5px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.dropdownColumn-special li:hover { font-weight: bold; color: #888; }
.dropdown li span { vertical-align: middle; }
.dropdown p:first-of-type { margin-bottom: 10px; }
.dropdown p { font-family: 'Gotham'; font-size: 12.5px; }
.dropdownColumn li:hover { font-weight: bold; }

.dropdown .category {
  font-family: 'Chronicle';
  font-style: italic;
  font-size: 18px;
  margin-bottom: 14px;
  color: #555759;
}

.dropdownButton {
  font-family: 'Gotham';
  font-size: 11px;
  background-color: #404040;
  padding: 8px 15px 6px 15px;
  min-width: 150px;
  margin: 10px 0 0 0;
  -webkit-transition: background 0s;
}

.dropdownButton:hover {
  background-color: #ffea00;
  color: #404040;
  -webkit-transition: background 0s;
}

.placeholder {
  margin-top: 10px;
}
