input, button {
  font-size: 12px !important;
  padding: 10px !important;
  height: 35px !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0 0 0 0 !important;
}

input {
  padding: 10px 40px 10px 10px !important;
}

.delete {
  background-color: #fff;
  padding: 5px;
  opacity: .5;
  cursor: pointer;
}

.delete:hover {
  opacity: 1;
}

.arrowsContainer {
  margin-top: -30px;
  background-color: rgba(255,255,255,.8);
  font-size: 20px;
  color: #616162;
}

.arrow:hover {
  color: #00aaef;
}

.linkUrlForm {
  background-color: #323233;
  padding: 5px;
}

.check {
  margin-left: -30px;
  color: #55aa00;
}

.promo input {
  margin-bottom: 5px !important;
  width: 500px !important;
  display: inline-block !important;
}

#slideshowForm, .promo {
  background-color: #f1f1f2;
  padding: 5px;
}

.pinboard {
  background: #f1f1f2;
  background-size: cover;
  padding: 20px;
}

.featured-product {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
}

.featured-product--thumb {
  background: url('../assets/linen-texture.png') #fff;
  background-size: cover;
  width: 170px;
  height: 170px;
  margin: 10px;
}

.featured-product--info {
  width: 170px;
  font-family: 'Gotham', sans-serif;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.featured-product--name {
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
}

.featured-product--sku {
  width: 60%;
  float: left;
}
