@font-face {
    font-family: 'Gotham';
    src: url("fonts/Gotham-Light.ttf");
}

@font-face {
    font-family: 'Gotham';
    src: url("fonts/Gotham-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Chronicle';
    src: url("fonts/ChronicleTextG1/ChronicleTextG1-Roman1.ttf");
}

@font-face {
    font-family: 'Chronicle';
    src: url("fonts/ChronicleTextG1/ChronicleTextG1-Italic1.ttf");
    font-style: italic;
}

.row { width: 90%; max-width: initial; }

.promo {
  text-transform: uppercase;
  font-family: 'Gotham';
  background-color: #ffea00;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

.promo p { font-size: 11px; margin-bottom: 0; color: #404040; }

.top-bar {
  background-color: white;
  height: auto;
  margin-bottom: 10px;
}

.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.top-bar-section ul li  {
  background-color: white;
  color: #404040;
  font-family: 'Gotham';
  font-size: .675em;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
}

.top-nav li, .top-nav p { display: inline-block; }
#shopping-bag { width: 50px; text-align: right; }
.shopping-bag { width: 300px; }
.shopping-bag--itemPhoto { width: 80px; display: inline-block; }
.shopping-bag--itemInfo { display: inline-block; width: 150px; float: right;}
.shopping-bag--itemTitle { font-family: 'Gotham', sans-serif; font-size: 14px; font-weight: bold; margin-top: 0; }
.shopping-bag--itemCost { float: right; }
.main-nav li.selected, .top-nav li.selected {
  font-weight: bold;
  margin-top: -1px;
  border-bottom: 3px solid #404040;
}

.left li { margin-right: 30px; }

.search {
  background: #e6e6e6 !important;
  padding: 3px 10px 1px 10px;
  width: 250px;
  margin-top: -5px;
}

.dropdown {
  z-index: 100;
  position: absolute;
  background-color: white;
  list-style: none;
  margin-left: 0;
  padding: 15px 25px;
  border: 1px solid #eee;
  margin-top: -1px;
  height: 350px;
  display: none;
}

.dropdownColumn {
  vertical-align: top;
  display: inline-block;
  width: 160px;
}

.dropdownColumn-special {
  border-left: 1px solid #eee;
  padding-left: 20px;
  font-weight: bold;
}
.dropdownColumn-special li:hover { font-weight: bold; color: #888; }

.dropdown li {
  font-family: 'Gotham';
  font-size: 11px;
  margin: 5px 0;
  cursor: pointer;
}

.dropdown p { font-family: 'Gotham'; font-size: 13px; }
.dropdownColumn li:hover { font-weight: bold; }

.dropdown .category {
  font-family: 'Chronicle';
  font-style: italic;
  font-size: 18px;
  margin-bottom: 14px;
}

.dropdownButton {
  font-family: 'Gotham';
  font-weight: bold;
  font-size: 11px;
  background-color: #404040;
  padding: 10px 15px;
  margin: 0;
  width: 100%;
  -webkit-transition: background 0s;
}

.dropdownButton:hover {
  background-color: #ffea00;
  color: #404040;
  -webkit-transition: background 0s;
}

.placeholder {
  margin-top: 10px;
}
